In [2]:
import os
import pandas as pd


#Set working directory 
os.chdir('C:\\Users\\user\\Desktop\\Summer 2020\\Research Assistant\\Sandra\\Brexit Project 2')
os.getcwd()

'C:\\Users\\user\\Desktop\\Summer 2020\\Research Assistant\\Sandra\\Brexit Project 2'

In [3]:
productsdatabase = pd.read_csv('cleanedproduct.csv', sep=",", encoding='latin-1')

In [4]:
productsdatabase.head(10)

,name,categoryonwebsite,websitename,Quintessential
0,R. Whites Lemonade (330ml / 11 fl oz),drinks,ukgoods,1
1,Horlicks Malted Milk Drink (500g / 17.6oz),drinks,ukgoods,1
2,Ben Shaws Dandelion and Burdock Classic (330ml...,drinks,ukgoods,1
3,Typhoo Tea (240 Tea Bag's),drinks,ukgoods,1
4,Old Jamaica Ginger Beer (330ml / 11fl oz),drinks,ukgoods,1
5,Robinson's Lemon Barley Water (850ml / 28.7floz),drinks,ukgoods,1
6,Schweppes Original Bitter Lemon (1ltr / 33.8fl...,drinks,ukgoods,1
7,Typhoo Tea Bags (80 teabags) *Best Before Janu...,drinks,ukgoods,1
8,PG Tips Loose Black Tea (250g / 8.8 oz),drinks,ukgoods,1
9,Robinson's Barley Water Peach (1Ltr / 33.8 fl oz),drinks,ukgoods,1

In [7]:
productsdatabase.name.value_counts().head(10)

Organix Goodies Banana & Date Chunky Fruit Bars 6X17G (102G)        1
De Cecco Taglierini All'uovo 250g                                   1
SMA 3 Toddler Milk Powder 1-3 years, 900 g                          1
Quaker Express Pot Oat So Simple Apple And Blueberry 57g            1
Clearspring Organic Oatcakes Sea Vegetable and Black Pepper 250g    1
Cottage Delight Indonesian Chilli & Garlic Sauce (220g)             1
Vimto Watermelon Strawberry Peach                                   1
Prestat White Chocolate London Gin and Lemon Truffles 175 g         1
Dolmio Stir In Sun Dried Tomato (150g)                              1
Whittard Mint Hot Chocolate 350g                                    1
Name: name, dtype: int64

In [8]:
n_rows, n_col = productsdatabase.shape

In [10]:
products_info = list(productsdatabase['name'].values)

In [11]:
# CREATING SPLIT PRODUCT DATABASE
count_no_match = 0
count_no_breaker = 0
product_main = []
product_other = []

for i in range(len(products_info)):
    pos_bracket = 0
    pos_slash = 0
    # seems that only slash and bracket indicate weight stuff
    if "(" or "/" in products_info[i]:
        split = products_info[i].split(" ")
        for j in range(len(split)):
            if "(" in split[j]:
                pos_bracket = j
            if "/" in split[j]:
                pos_slash = j
                
        # get the index of which comes earlier: slash or bracket?
        if pos_bracket > 0 and pos_slash > 0:
            breaker = min(pos_bracket, pos_slash)
        elif pos_bracket > 0:
            breaker = pos_bracket
        elif pos_slash > 0:
            breaker = pos_slash
        else:
            breaker = 0
        
        if breaker > 0:
            string_main = ""
            string_other = ""
            
            for k in range(breaker):
                string_main += " " + split[k]
                
            for l in range(breaker, len(split)):
                string_other += " " + split[l]
            #string_main = string_main[1:] 
            #string_other = string_other[1:] 
            product_main.append(string_main)
            product_other.append(string_other)
        
        else:
            product_main.append(products_info[i])
            product_other.append("")
            #print("No breaker:" + " " + products_info[i])
            count_no_breaker += 1
    else:
        count_no_match += 1
        #print("No match:" + " " + products_info[i])

In [12]:
# SPLIT PRODUCT DATA BASE
productsdatabase['Product Main'] = product_main
productsdatabase['Product Other'] = product_other
productsdatabase = productsdatabase[['name', 'Product Main', 'Product Other', 'categoryonwebsite', 'websitename', 'Quintessential']]
#productsdatabase = productsdatabase.sort_values(by=["Product Main"])
productsdatabase.head(15)

,name,Product Main,Product Other,categoryonwebsite,websitename,Quintessential
0,R. Whites Lemonade (330ml / 11 fl oz),R. Whites Lemonade,(330ml / 11 fl oz),drinks,ukgoods,1
1,Horlicks Malted Milk Drink (500g / 17.6oz),Horlicks Malted Milk Drink,(500g / 17.6oz),drinks,ukgoods,1
2,Ben Shaws Dandelion and Burdock Classic (330ml...,Ben Shaws Dandelion and Burdock Classic,(330ml / 11.15 fl oz),drinks,ukgoods,1
3,Typhoo Tea (240 Tea Bag's),Typhoo Tea,(240 Tea Bag's),drinks,ukgoods,1
4,Old Jamaica Ginger Beer (330ml / 11fl oz),Old Jamaica Ginger Beer,(330ml / 11fl oz),drinks,ukgoods,1
5,Robinson's Lemon Barley Water (850ml / 28.7floz),Robinson's Lemon Barley Water,(850ml / 28.7floz),drinks,ukgoods,1
6,Schweppes Original Bitter Lemon (1ltr / 33.8fl...,Schweppes Original Bitter Lemon,(1ltr / 33.8fl oz),drinks,ukgoods,1
7,Typhoo Tea Bags (80 teabags) *Best Before Janu...,Typhoo Tea Bags,"(80 teabags) *Best Before January 31, 2020*",drinks,ukgoods,1
8,PG Tips Loose Black Tea (250g / 8.8 oz),PG Tips Loose Black Tea,(250g / 8.8 oz),drinks,ukgoods,1
9,Robinson's Barley Water Peach (1Ltr / 33.8 fl oz),Robinson's Barley Water Peach,(1Ltr / 33.8 fl oz),drinks,ukgoods,1
10,Lucozade Orange (330Ml / 11.6oz),Lucozade Orange,(330Ml / 11.6oz),drinks,ukgoods,1
11,Robinson's Apple & Pear Fruit & Barley (1Ltr /...,Robinson's Apple & Pear Fruit & Barley,(1Ltr / 33.8oz),drinks,ukgoods,1
12,Typhoo Extrta Strong Tea (80 Tea Bag's),Typhoo Extrta Strong Tea,(80 Tea Bag's),drinks,ukgoods,1
13,PG Tips Extra Strong Tea (80 Tea Bag's),PG Tips Extra Strong Tea,(80 Tea Bag's),drinks,ukgoods,1
14,Benshaws Classic Cream Soda (330ml / 11.16oz),Benshaws Classic Cream Soda,(330ml / 11.16oz),drinks,ukgoods,1

In [33]:
productsdatabase.loc[productsdatabase['Product Main'] == ' Typhoo Tea Bags', 'Quintessential'].values[0]

1

In [ ]:
# TEST -- NOT IMPORTANT 
test_case = products_info[3]
test_case

pos_bracket = 0
pos_slash = 0
# seems that only slash and bracket indicate weight stuff
if "(" or "/" in test_case:
    split = test_case.split(" ")
    for j in range(len(split)):
        if "(" in split[j]:
            pos_bracket = j
        if "/" in split[j]:
            pos_slash = j
split

breaker = min(pos_bracket, pos_slash)
breaker


        if breaker > 0:
            string_main = ""
            string_other = ""
            
            for k in range(breaker):
                string_main += " " + split[k]
                
            for l in range(breaker, len(split)):
                string_other += " " + split[l]
                           
            product_main.append(string_main.strip())
            product_other.append(string_other.lstrip())
        
        else:
            product_main.append(products_info[i])
            product_other.append("")
            print("No breaker:" + " " + products_info[i])
            count_no_breaker += 1

string_main

string_other

In [18]:
maindf = pd.read_excel('data_clustered.xlsx')

In [19]:
maindf.head(10)

,Unnamed: 0,sku,name,category,first_country,britshare,category_id,_merge,twentyClusters,trimmedClusters,pred_twentyClusters,pred_trimmedClusters,pred_category,national
0,0,24,Sainsbury's Kiwi Fruit Each,"Fruit & vegetables, Fresh fruit, All fruit",UnitedKingdom,0.250000,340.0,master only (1),2.0,Fruit & vegetables,NaN,NaN,NaN,False
1,1,62,Sainsbury's Whole Cucumber,"Fruit & vegetables, Top sellers",UnitedKingdom,0.200000,347.0,matched (3),2.0,Fruit & vegetables,NaN,NaN,NaN,False
2,2,79,Sainsbury's Oranges Each,"Fruit & vegetables, Top sellers",UnitedKingdom,0.200000,347.0,master only (1),2.0,Fruit & vegetables,NaN,NaN,NaN,False
3,3,93,Sainsbury's Lemons Each,"Fruit & vegetables, Top sellers",UnitedKingdom,1.000000,347.0,master only (1),2.0,Fruit & vegetables,NaN,NaN,NaN,False
4,4,444,"Sainsbury's Lettuce, Round","Fruit & vegetables, Best in season",UnitedKingdom,1.000000,337.0,matched (3),2.0,Fruit & vegetables,NaN,NaN,NaN,False
5,5,536,Sainsbury's Baked Beans In Tomato Sauce 400g,"Food cupboard, Canned, tinned & packaged foods...",UnitedKingdom,1.000000,153.0,master only (1),13.0,Food cupboard,NaN,NaN,NaN,False
6,6,758,Sainsbury's Cauliflower Each,"Fruit & vegetables, Top sellers",UnitedKingdom,0.166667,347.0,matched (3),2.0,Fruit & vegetables,NaN,NaN,NaN,False
7,7,1007,Sainsbury's Evaporated Milk 170g,"Food cupboard, Fruit & desserts, Milk & cream",Germany,0.000000,220.0,master only (1),2.0,Food cupboard,NaN,NaN,NaN,False
8,8,1304,"Sainsbury's English Butter, Salted 250g","New & trending, Top rated",UnitedKingdom,1.000000,499.0,matched (3),2.0,New & trending,NaN,NaN,NaN,True
9,9,1373,Sainsbury's Spring Onions Bunch 100g,"Fruit & vegetables, Top sellers",UnitedKingdom,1.000000,347.0,master only (1),2.0,Fruit & vegetables,NaN,NaN,NaN,False

In [ ]:
def Remove(duplicate): 
    final_list = [] 
    for num in duplicate: 
        if num not in final_list: 
            final_list.append(num) 
    return final_list

In [74]:
# filtering name of products with non-missing "Product Other"
product_main_temp = []
for i in range(len(product_other)):
    if product_other[i] != '':
        product_main_temp.append(product_main[i])
        
# Keeping only unique "Product Main" after applying the previous filter
product_main_u = Remove(product_main_temp)

In [75]:
# filtering name of products with missing "Product Other"
product_other_temp = []
for i in range(len(product_other)):
    if product_other[i] == '':
        product_other_temp.append(product_main[i])
        
# Keeping only unique "Product Main" after applying the previous filter
product_other_u = Remove(product_other_temp)

In [88]:
' Spam' in product_main_u

True

In [115]:
# For Each Product in Our MAIN DF, we see if we can match that with OTHER dataset.
# If yes, matched = 1, Q = 0 or 1
# If no, matched = 0, Q = -9
# if unique match or only one match, case = 0
# if multiple products match (would only happen when we are not looking for exact matches)

matched = []
Q = []
case = []
comment = []
multiple_check = []
product_match =[]
no_row, no_col = maindf.shape
name_list = list(maindf.name.values)

for i in range(no_row):
    comments = ''
    cases = 0
    status = 0
    value = -9
    multiple_q = []
    
    # EXACT MATCH - for the case with Product Other == ""
    for product in product_other_u:
        if product.lstrip() == name_list[i]:
            status += 1
            value = productsdatabase.loc[productsdatabase['Product Main'] == product, 'Quintessential'].values[0]
            product_match.append((product,name_list[i]))
            multiple_q.append(value)
            
    # Partial Match - for the case with Product Other == ""
    if status == 0:
        for product in product_other_u:
            if product.lstrip() in name_list[i]:
                status += 1
                value = productsdatabase.loc[productsdatabase['Product Main'] == product, 'Quintessential'].values[0]
                product_match.append((product,name_list[i]))
                multiple_q.append(value)

                # error check - There were only maximum of THREE matches, that is why we have status > 2. 
                if status > 2:
                    print("Row {} product had multiple matches".format(i))
                    comments = "Third e match: {} with Q-value: {}".format(product_match[-1],multiple_q[-1]) + ";" + "Second e match: {} with Q-value: {}".format(product_match[-2],multiple_q[-2]) + ";" + "First match: {} with Q-value: {}".format(product_match[-3],multiple_q[-3])
                    print(comments)
                    cases += 1
                    print(cases)
                elif status > 1:
                    print("Row {} product had multiple matches".format(i))
                    comments = "Second e match: {} with Q-value: {}".format(product_match[-1],multiple_q[-1]) + ";" + "First e match: {} with Q-value: {}".format(product_match[-2],multiple_q[-2])
                    print(comments)
                    cases += 1
                    print(cases)

   # If can't find an exact match, look for partial match for the case with Product Other != ""
    if status == 0:
        for product in product_main_u:
            if product.lstrip() in name_list[i]:
                status += 1
                value = productsdatabase.loc[productsdatabase['Product Main'] == product, 'Quintessential'].values[0]
                product_match.append((product,name_list[i]))
                multiple_q.append(value)
                
                # error check - There were only maximum of THREE matches, that is why we have status > 2. 
                if status > 2:
                    print("Row {} product had multiple matches".format(i))
                    comments = "Third match: {} with Q-value: {}".format(product_match[-1],multiple_q[-1]) + ";" + "Second match: {} with Q-value: {}".format(product_match[-2],multiple_q[-2]) + ";" + "First match: {} with Q-value: {}".format(product_match[-3],multiple_q[-3])
                    print(comments)
                    cases += 1
                    print(cases)
                elif status > 1:
                    print("Row {} product had multiple matches".format(i))
                    comments = "Second match: {} with Q-value: {}".format(product_match[-1],multiple_q[-1]) + ";" + "First match: {} with Q-value: {}".format(product_match[-2],multiple_q[-2])
                    print(comments)
                    cases += 1
                    print(cases)
                    
                    
    matched.append(status)
    Q.append(value)
    case.append(cases)
    comment.append(comments)
    #if status > 1:
        #   print("Row {} product had multiple matches".format(i))
    #if multiple_q > 1:
        #   print("Row {} product might not have correct Q".format(i))

maindf['match'] = matched
maindf['Q'] = Q
maindf['case'] = case
maindf['comment'] = comment

Row 1920 product had multiple matches
Second match: (' Princes Tuna Chunks in Brine 160g', 'Princes Tuna Chunks in Brine 160g (112g*)') with Q-value: 0;First match: (' Princes Tuna Chunks in Brine', 'Princes Tuna Chunks in Brine 160g (112g*)') with Q-value: 1
1
Row 1955 product had multiple matches
Second match: (" Garner's Original Pickled Onions 454g", "Garner's Original Pickled Onions 454g (230g*)") with Q-value: 0;First match: (" Garner's Original Pickled Onions", "Garner's Original Pickled Onions 454g (230g*)") with Q-value: 1
1
Row 2044 product had multiple matches
Second match: (' Princes Tuna Chunks in Sunflower Oil 3x80g', 'Princes Tuna Chunks in Sunflower Oil 3x80g (3x56g)') with Q-value: 0;First match: (' Princes Tuna Chunks in Sunflower Oil', 'Princes Tuna Chunks in Sunflower Oil 3x80g (3x56g)') with Q-value: 1
1
Row 2051 product had multiple matches
Second match: (' Princes Tuna Chunks in Sunflower Oil 4x160g', 'Princes Tuna Chunks in Sunflower Oil 4x160g (112g*)') with Q-value: 0;First match: (' Princes Tuna Chunks in Sunflower Oil', 'Princes Tuna Chunks in Sunflower Oil 4x160g (112g*)') with Q-value: 1
1
Row 2052 product had multiple matches
Second match: (' Princes Tuna Chunks in Brine 4x160g', 'Princes Tuna Chunks in Brine 4x160g (4x112g*)') with Q-value: 0;First match: (' Princes Tuna Chunks in Brine', 'Princes Tuna Chunks in Brine 4x160g (4x112g*)') with Q-value: 1
1
Row 2178 product had multiple matches
Second match: (' Spam', 'Spam Chopped Pork & Ham 200g') with Q-value: 0;First match: (' Spam Chopped Pork & Ham', 'Spam Chopped Pork & Ham 200g') with Q-value: 0
1
Row 2331 product had multiple matches
Second match: (' Kinder Surprise Chocolate Egg x3 60g', 'Kinder Surprise Chocolate Egg x3 60g') with Q-value: 0;First match: (' Kinder Surprise Chocolate Egg', 'Kinder Surprise Chocolate Egg x3 60g') with Q-value: 1
1
Row 2470 product had multiple matches
Second e match: ('Jelly Babies', 'Maynards Bassetts Jelly Babies Sweets Carton 400g') with Q-value: 1;First e match: ('Maynards Bassetts Jelly Babies', 'Maynards Bassetts Jelly Babies Sweets Carton 400g') with Q-value: 1
1
Row 2786 product had multiple matches
Second match: (' Org', 'Doves Farm Organic White Self Raising Flour 1kg') with Q-value: 1;First match: (' Doves Farm Organic White Self Raising Flour', 'Doves Farm Organic White Self Raising Flour 1kg') with Q-value: 1
1
Row 2871 product had multiple matches
Second match: (' Red Bull Energy Drink', 'Red Bull Energy Drink Sugar Free 250ml') with Q-value: 1;First match: (' Red Bull Energy Drink Sugar Free', 'Red Bull Energy Drink Sugar Free 250ml') with Q-value: 1
1
Row 2907 product had multiple matches
Second match: (' Princes Tuna Chunks in Spring Water 160g', 'Princes Tuna Chunks in Spring Water 160g (112g*)') with Q-value: 0;First match: (' Princes Tuna Chunks in Spring Water', 'Princes Tuna Chunks in Spring Water 160g (112g*)') with Q-value: 1
1
Row 2908 product had multiple matches
Second match: (' Princes Tuna Chunks in Spring Water 4x160g', 'Princes Tuna Chunks in Spring Water 4x160g (112g*)') with Q-value: 0;First match: (' Princes Tuna Chunks in Spring Water', 'Princes Tuna Chunks in Spring Water 4x160g (112g*)') with Q-value: 1
1
Row 2910 product had multiple matches
Second match: (' Red Bull Energy Drink', 'Red Bull Energy Drink Sugar Free 4x250ml') with Q-value: 1;First match: (' Red Bull Energy Drink Sugar Free', 'Red Bull Energy Drink Sugar Free 4x250ml') with Q-value: 1
1
Row 3046 product had multiple matches
Second match: (' Kingsmill Perfect Pancakes x6', 'Kingsmill Perfect Pancakes x6') with Q-value: 0;First match: (' Kingsmill', 'Kingsmill Perfect Pancakes x6') with Q-value: 0
1
Row 4453 product had multiple matches
Second match: (' Galaxy Milk Chocolate', 'Galaxy Milk Chocolate Bar 390g') with Q-value: 1;First match: (' Galaxy Milk Chocolate Bar', 'Galaxy Milk Chocolate Bar 390g') with Q-value: 1
1
Row 4492 product had multiple matches
Second match: (' Galaxy Milk Chocolate', 'Galaxy Milk Chocolate Bar 42g') with Q-value: 1;First match: (' Galaxy Milk Chocolate Bar', 'Galaxy Milk Chocolate Bar 42g') with Q-value: 1
1
Row 5445 product had multiple matches
Second match: (' Pukka Organic', 'Pukka Organic Ginger, Galangal & Golden Turmeric Tea Bags x20') with Q-value: 1;First match: (' Org', 'Pukka Organic Ginger, Galangal & Golden Turmeric Tea Bags x20') with Q-value: 1
1
Row 5553 product had multiple matches
Second match: (' Doves Farm Gluten Free Organic Penne Pasta', 'Doves Farm Gluten Free Organic Penne Pasta 500g') with Q-value: 1;First match: (' Org', 'Doves Farm Gluten Free Organic Penne Pasta 500g') with Q-value: 1
1
Row 5730 product had multiple matches
Second match: (' Belvoir', 'Belvoir Raspberry Lemonade 750ml') with Q-value: 1;First match: (' Belvoir Raspberry Lemonade', 'Belvoir Raspberry Lemonade 750ml') with Q-value: 0
1
Row 5782 product had multiple matches
Second match: (' Pepsi', 'Pepsi Max 600ml') with Q-value: 1;First match: (' Pepsi Max', 'Pepsi Max 600ml') with Q-value: 1
1
Row 6334 product had multiple matches
Second match: (' Silver Spoon Half Spoon Granulated Sugar', 'Silver Spoon Half Spoon Granulated Sugar 1kg') with Q-value: 1;First match: (' Silver Spoon', 'Silver Spoon Half Spoon Granulated Sugar 1kg') with Q-value: 0
1
Row 6721 product had multiple matches
Second match: (' Princes Tuna Chunks in Spring Water 3x80g', 'Princes Tuna Chunks in Spring Water 3x80g (3x56g*)') with Q-value: 0;First match: (' Princes Tuna Chunks in Spring Water', 'Princes Tuna Chunks in Spring Water 3x80g (3x56g*)') with Q-value: 1
1
Row 6879 product had multiple matches
Second match: (' Galaxy Milk Chocolate', 'Galaxy Milk Chocolate Bar 200g') with Q-value: 1;First match: (' Galaxy Milk Chocolate Bar', 'Galaxy Milk Chocolate Bar 200g') with Q-value: 1
1
Row 7149 product had multiple matches
Second match: (' Pepsi', 'Pepsi Max 8x330ml') with Q-value: 1;First match: (' Pepsi Max', 'Pepsi Max 8x330ml') with Q-value: 1
1
Row 7362 product had multiple matches
Second match: (' John West Anchovy Fillets 50g', 'John West Anchovy Fillets 50g (30g*)') with Q-value: 0;First match: (' John', 'John West Anchovy Fillets 50g (30g*)') with Q-value: 0
1
Row 7363 product had multiple matches
Second match: (' John West White Crab Meat', 'John West White Crab Meat 170g (120g*)') with Q-value: 0;First match: (' John', 'John West White Crab Meat 170g (120g*)') with Q-value: 0
1
Row 7363 product had multiple matches
Third match: (' John West White Crab Meat 170g', 'John West White Crab Meat 170g (120g*)') with Q-value: 0;Second match: (' John West White Crab Meat', 'John West White Crab Meat 170g (120g*)') with Q-value: 0;First match: (' John', 'John West White Crab Meat 170g (120g*)') with Q-value: 0
2
Row 7365 product had multiple matches
Second match: (' John West Tuna Slices In Olive Oil 120g', 'John West Tuna Slices In Olive Oil 120g (78g*)') with Q-value: 0;First match: (' John', 'John West Tuna Slices In Olive Oil 120g (78g*)') with Q-value: 0
1
Row 7704 product had multiple matches
Second match: (' Red Bull Energy Drink', 'Red Bull Energy Drink Sugar Free 8x250ml') with Q-value: 1;First match: (' Red Bull Energy Drink Sugar Free', 'Red Bull Energy Drink Sugar Free 8x250ml') with Q-value: 1
1
Row 8885 product had multiple matches
Second match: (' John West Kipper Fillets in Brine 160g', 'John West Kipper Fillets in Brine 160g (115g*)') with Q-value: 0;First match: (' John', 'John West Kipper Fillets in Brine 160g (115g*)') with Q-value: 0
1
Row 8886 product had multiple matches
Second match: (' John West Kipper Fillets in Oil 160g', 'John West Kipper Fillets in Oil 160g (115g*)') with Q-value: 0;First match: (' John', 'John West Kipper Fillets in Oil 160g (115g*)') with Q-value: 0
1
Row 9521 product had multiple matches
Second match: (' Pepsi', 'Pepsi Max 1.5L') with Q-value: 1;First match: (' Pepsi Max', 'Pepsi Max 1.5L') with Q-value: 1
1
Row 9626 product had multiple matches
Second match: (' Pukka Organic', 'Pukka Organic Supreme Matcha Green x20 Tea Bags 30g') with Q-value: 1;First match: (' Org', 'Pukka Organic Supreme Matcha Green x20 Tea Bags 30g') with Q-value: 1
1
Row 9974 product had multiple matches
Second match: (' Pepsi', 'Pepsi Max Cherry 8x330ml') with Q-value: 1;First match: (' Pepsi Max', 'Pepsi Max Cherry 8x330ml') with Q-value: 1
1

Row 10159 product had multiple matches
Second match: (' Pepsi', 'Pepsi Max Cherry 600ml') with Q-value: 1;First match: (' Pepsi Max', 'Pepsi Max Cherry 600ml') with Q-value: 1
1
Row 10174 product had multiple matches
Second match: (' Pepsi', 'Pepsi Max 24x330ml') with Q-value: 1;First match: (' Pepsi Max', 'Pepsi Max 24x330ml') with Q-value: 1
1
Row 10206 product had multiple matches
Second e match: ('Jelly Babies', 'Maynards Bassetts Jelly Babies Chicks Bag 165g') with Q-value: 1;First e match: ('Maynards Bassetts Jelly Babies', 'Maynards Bassetts Jelly Babies Chicks Bag 165g') with Q-value: 1
1

In [116]:
maindf.match.value_counts()

0    10269
1     2343
2       35
3        1
Name: match, dtype: int64

In [117]:
maindf

,Unnamed: 0,sku,name,category,first_country,britshare,category_id,_merge,twentyClusters,trimmedClusters,pred_twentyClusters,pred_trimmedClusters,pred_category,national,match,Q,case,comment
0,0,24,Sainsbury's Kiwi Fruit Each,"Fruit & vegetables, Fresh fruit, All fruit",UnitedKingdom,0.250000,340.0,master only (1),2.0,Fruit & vegetables,NaN,NaN,NaN,False,0,-9,0,
1,1,62,Sainsbury's Whole Cucumber,"Fruit & vegetables, Top sellers",UnitedKingdom,0.200000,347.0,matched (3),2.0,Fruit & vegetables,NaN,NaN,NaN,False,0,-9,0,
2,2,79,Sainsbury's Oranges Each,"Fruit & vegetables, Top sellers",UnitedKingdom,0.200000,347.0,master only (1),2.0,Fruit & vegetables,NaN,NaN,NaN,False,0,-9,0,
3,3,93,Sainsbury's Lemons Each,"Fruit & vegetables, Top sellers",UnitedKingdom,1.000000,347.0,master only (1),2.0,Fruit & vegetables,NaN,NaN,NaN,False,0,-9,0,
4,4,444,"Sainsbury's Lettuce, Round","Fruit & vegetables, Best in season",UnitedKingdom,1.000000,337.0,matched (3),2.0,Fruit & vegetables,NaN,NaN,NaN,False,0,-9,0,
5,5,536,Sainsbury's Baked Beans In Tomato Sauce 400g,"Food cupboard, Canned, tinned & packaged foods...",UnitedKingdom,1.000000,153.0,master only (1),13.0,Food cupboard,NaN,NaN,NaN,False,0,-9,0,
6,6,758,Sainsbury's Cauliflower Each,"Fruit & vegetables, Top sellers",UnitedKingdom,0.166667,347.0,matched (3),2.0,Fruit & vegetables,NaN,NaN,NaN,False,0,-9,0,
7,7,1007,Sainsbury's Evaporated Milk 170g,"Food cupboard, Fruit & desserts, Milk & cream",Germany,0.000000,220.0,master only (1),2.0,Food cupboard,NaN,NaN,NaN,False,0,-9,0,
8,8,1304,"Sainsbury's English Butter, Salted 250g","New & trending, Top rated",UnitedKingdom,1.000000,499.0,matched (3),2.0,New & trending,NaN,NaN,NaN,True,0,-9,0,
9,9,1373,Sainsbury's Spring Onions Bunch 100g,"Fruit & vegetables, Top sellers",UnitedKingdom,1.000000,347.0,master only (1),2.0,Fruit & vegetables,NaN,NaN,NaN,False,0,-9,0,
10,10,1441,Sainsbury's Half Cucumber Portion,"Fruit & vegetables, Top sellers",UnitedKingdom,0.200000,347.0,master only (1),2.0,Fruit & vegetables,NaN,NaN,NaN,False,0,-9,0,
11,11,1823,Sainsbury's Fresh Salad Cress 20g,"Fruit & vegetables, Fresh vegetables, All vege...",UnitedKingdom,1.000000,343.0,matched (3),2.0,Fruit & vegetables,NaN,NaN,NaN,False,0,-9,0,
12,12,1854,Sainsbury's Quick Cook Spaghetti 500g,"Food cupboard, Rice, pasta & noodles, Pasta",Italy,0.000000,236.0,master only (1),2.0,Food cupboard,NaN,NaN,NaN,False,0,-9,0,
13,13,2097,Sainsbury's Cornflakes Cereal 500g,"Food cupboard, Breakfast cereals, All cereals",France,0.000000,140.0,master only (1),2.0,Food cupboard,NaN,NaN,NaN,False,0,-9,0,
14,14,2448,Sainsbury's Onions 1kg,"Fruit & vegetables, Top sellers",UnitedKingdom,0.100000,347.0,master only (1),2.0,Fruit & vegetables,NaN,NaN,NaN,False,0,-9,0,
15,15,2523,Sainsbury's Peach Punnet x4,"Fruit & vegetables, Fresh fruit, All fruit",UnitedKingdom,0.076923,340.0,master only (1),2.0,Fruit & vegetables,NaN,NaN,NaN,False,0,-9,0,
16,16,3391,Sainsbury's Mixed Dried Fruit 500g,"New & trending, 100s of prices lowered, All pr...",UnitedKingdom,1.000000,475.0,master only (1),2.0,New & trending,NaN,NaN,NaN,False,0,-9,0,
17,17,3476,Sainsbury's Galia Melon Each,"Fruit & vegetables, Fresh fruit, All fruit",UnitedKingdom,1.000000,340.0,master only (1),2.0,Fruit & vegetables,NaN,NaN,NaN,False,0,-9,0,
18,18,3629,Sainsbury's Plain Flour 1.5kg,"Easter, Easter baking & activities, Family baking",UnitedKingdom,1.000000,97.0,matched (3),2.0,Easter,NaN,NaN,NaN,False,0,-9,0,
19,19,4237,Sainsbury's Scotch Eggs x2 226g,"Chilled, Pies, pasties & quiche, All pies, pas...",UnitedKingdom,1.000000,44.0,matched (3),2.0,Chilled,NaN,NaN,NaN,False,0,-9,0,
20,20,4480,Sainsbury's Jam Tarts x6,"Bakery, Cakes & tarts, All cakes & tarts",Poland,0.000000,19.0,master only (1),2.0,Bakery,NaN,NaN,NaN,False,0,-9,0,
21,21,4688,"Sainsbury's Garden Peas In Water, Salt & Sugar...","Food cupboard, Canned, tinned & packaged foods...",UnitedKingdom,1.000000,164.0,master only (1),6.0,Food cupboard,NaN,NaN,NaN,False,0,-9,0,
22,22,5104,Sainsbury's Pink Grapefruit Each,"Easter, Easter brunch & breakfast, Continental",Argentina,0.000000,100.0,master only (1),2.0,Easter,NaN,NaN,NaN,False,0,-9,0,
23,23,5180,Sainsbury's Malt Vinegar 568ml,"Food cupboard, Table sauces, dressings & condi...",UnitedKingdom,1.000000,278.0,master only (1),2.0,Food cupboard,NaN,NaN,NaN,False,0,-9,0,
24,24,5494,Sainsbury's Cantaloupe Melon Each,"Fruit & vegetables, Fresh fruit, All fruit",UnitedKingdom,1.000000,340.0,master only (1),2.0,Fruit & vegetables,NaN,NaN,NaN,False,0,-9,0,
25,25,5517,Sainsbury's Raspberry Swiss Roll 190g (Serves 6),"Bakery, Cakes & tarts, All cakes & tarts",UnitedKingdom,1.000000,19.0,master only (1),2.0,Bakery,NaN,NaN,NaN,False,0,-9,0,
26,26,6040,Sainsbury's Baked Beans In Tomato Sauce 200g,"Food cupboard, Canned, tinned & packaged foods...",Italy,0.000000,153.0,master only (1),13.0,Food cupboard,NaN,NaN,NaN,False,0,-9,0,
27,27,6118,Sainsbury's Malt Vinegar 284ml,"New & trending, 100s of prices lowered, All pr...",UnitedKingdom,1.000000,475.0,master only (1),2.0,New & trending,NaN,NaN,NaN,False,0,-9,0,
28,28,6217,"Sainsbury's Tomato Puree, Double Concentrate 200g","New & trending, Top rated",Italy,0.000000,499.0,master only (1),2.0,New & trending,NaN,NaN,NaN,False,0,-9,0,
29,29,6347,Sainsbury's Vegetable Oil 1L,"Food cupboard, Cooking ingredients & oils, Oil...",UnitedKingdom,1.000000,189.0,master only (1),2.0,Food cupboard,NaN,NaN,NaN,False,0,-9,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12618,12618,7878361,JS slow cook British lamb tagine 590g,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Dairy,"Beer, wine & spirits, Spirits & liqueurs, All ...",True,0,-9,0,
12619,12619,7878366,JS slow cook beef rendang curry 600g,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Food cupboard,"Food cupboard, Cooking sauces & meal kits, All",False,0,-9,0,
12620,12620,7878389,Js Chicken Arrabbiata Meal Soup 400g,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Food cupboard,"Food cupboard, Canned, tinned & packaged foods...",False,0,-9,0,
12621,12621,7878535,TtD Mini Pork & Apple Topped Pies 200g,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Food cupboard,"Chilled, Pies, pasties & quiche, All pies, pas...",False,0,-9,0,
12622,12622,7878622,H&T Pulled pork with Boston beans,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Food cupboard,"Food cupboard, Canned, tinned & packaged foods...",False,0,-9,0,
12623,12623,7879011,CO TTD British Venison Loin 500g,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Meat & fish,"Meat & fish, Duck, game & venison",True,0,-9,0,
12624,12624,7879030,JS chicken legs CW,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Food cupboard,"Frozen, Meat & poultry, Chicken & turkey, All",False,0,-9,0,
12625,12625,7879607,JS whole Chicken CW,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Food cupboard,"Frozen, Meat & poultry, Chicken & turkey, All",False,0,-9,0,
12626,12626,7879997,JS garlic & rosemary roast potatoes 400g,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Food cupboard,"Meat & fish, Ham & cooked meats, All ham & coo...",False,0,-9,0,
12627,12627,7880002,JS parsnip chips 340g,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Food cupboard,"Frozen, Chips, potatoes & rice, Chips & wedges...",False,0,-9,0,
12628,12628,7880064,JS TURKEY STEAKS 300G,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Meat & fish,"Meat & fish, Chicken & turkey, All turkey",False,0,-9,0,
12629,12629,7880647,Js 10 Bite Sized Pork Pies 250g,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Food cupboard,"Food cupboard, Crisps, nuts & snacking fruit, ...",False,0,-9,0,
12630,12630,7880672,TtD Cranberry Topped Pork Pie 840g,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Food cupboard,"Chilled, Pies, pasties & quiche, All pies, pas...",False,0,-9,0,
12631,12631,7880738,Js 10x50g Pork Pies,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Food cupboard,"Food cupboard, Crisps, nuts & snacking fruit, ...",False,0,-9,0,
12632,12632,7882280,TtD 2 Pork Sausage Rolls 130g,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Chilled,"Chilled, Pies, pasties & quiche, All pies, pas...",False,0,-9,0,
12633,12633,7883147,TtD 12 Mini Pork Pie Selection 600g,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Chilled,"Chilled, Pies, pasties & quiche, All pies, pas...",False,0,-9,0,
12634,12634,7883281,TTD Lattice Tppd Sge & Cnbry Wreath 740g,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Food cupboard,"Drinks, Fizzy drinks, Fruit flavoured",False,0,-9,0,
12635,12635,7883297,JS Fresh for Freezing Bst Fillets 1.28kg,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,14.0,Household,"Frozen, Fish & seafood, All",False,0,-9,0,
12636,12636,7883420,TTD Parsnip and Pecorino Mash 600g,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Frozen,"Drinks, Fizzy drinks, Fruit flavoured",False,0,-9,0,
12637,12637,7884326,JS TTD Mini Fillets 180-300g CW,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,14.0,Food cupboard,"New & trending, Great prices on everyday essen...",False,0,-9,0,
12638,12638,7884667,TTD Stilton Burger 380g,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Food cupboard,"Drinks, Fizzy drinks, Fruit flavoured",False,0,-9,0,
12639,12639,7886144,TTD 30 day aged burger 340g,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Food cupboard,"Drinks, Fizzy drinks, Fruit flavoured",False,0,-9,0,
12640,12640,7886645,TTD F/S cooked Yorkshire ham 240g,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Food cupboard,"Meat & fish, Ham & cooked meats, All ham & coo...",False,0,-9,0,
12641,12641,7887165,JS Chicken Drumsticks 540G,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Food cupboard,"Frozen, Meat & poultry, Chicken & turkey, All",False,0,-9,0,
12642,12642,7887218,Ttd Norfolk Black Chicken Thigh Flts CW,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Food cupboard,"Frozen, Meat & poultry, Chicken & turkey, All",False,0,-9,0,
12643,12643,7887705,TTD F/S honey rst Yorkshire ham 120g,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Food cupboard,"Meat & fish, Ham, deli meats & dips, All ham, ...",False,0,-9,0,
12644,12644,7887723,TTD F/S Yorkshire ham 120g,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Food cupboard,"Meat & fish, Ham & cooked meats, All ham & coo...",False,0,-9,0,
12645,12645,7888003,Js 60 Piece Selection Pack 640g,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Food cupboard,"Food cupboard, Breakfast cereals, Cereal bars ...",False,0,-9,0,
12646,12646,7889117,JS PORK LOIN MEDALLIONS 400G,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Food cupboard,"Food cupboard, Crisps, nuts & snacking fruit, ...",False,0,-9,0,
12647,12647,7889670,JS British Lamb Steaks 450g,NaN,NaN,NaN,NaN,using only (2),NaN,NaN,1.0,Dairy,"Meat & fish, Duck, game & venison",True,0,-9,0,

In [118]:
maindf.to_csv(r'C:\\Users\\user\\Desktop\\Summer 2020\\Research Assistant\\Sandra\\Brexit Project 2\\step1match.csv')