In [1]:
import os
import pandas as pd
import Levenshtein as lev


#Set working directory 
os.chdir('C:\\Users\\user\\Desktop\\Summer 2020\\Research Assistant\\Sandra\\Brexit Project 2')
os.getcwd()

'C:\\Users\\user\\Desktop\\Summer 2020\\Research Assistant\\Sandra\\Brexit Project 2'

In [2]:
productsdatabase = pd.read_csv('cleanedproduct.csv', sep=",", encoding='latin-1')

In [3]:
productsdatabase.head(10)

,name,categoryonwebsite,websitename,Quintessential
0,R. Whites Lemonade (330ml / 11 fl oz),drinks,ukgoods,1
1,Horlicks Malted Milk Drink (500g / 17.6oz),drinks,ukgoods,1
2,Ben Shaws Dandelion and Burdock Classic (330ml...,drinks,ukgoods,1
3,Typhoo Tea (240 Tea Bag's),drinks,ukgoods,1
4,Old Jamaica Ginger Beer (330ml / 11fl oz),drinks,ukgoods,1
5,Robinson's Lemon Barley Water (850ml / 28.7floz),drinks,ukgoods,1
6,Schweppes Original Bitter Lemon (1ltr / 33.8fl...,drinks,ukgoods,1
7,Typhoo Tea Bags (80 teabags) *Best Before Janu...,drinks,ukgoods,1
8,PG Tips Loose Black Tea (250g / 8.8 oz),drinks,ukgoods,1
9,Robinson's Barley Water Peach (1Ltr / 33.8 fl oz),drinks,ukgoods,1

In [4]:
productsdatabase.name.value_counts().head(10)

James White Beet It Organic Beetroot Juice 750ml                        1
Waitrose Love Life Organic Ready To Eat Apricots 250g                   1
Volvic Still Natural Mineral Water with Sports Cap (1L)                 1
Pukka Revitalise 20 per pack                                            1
McVities Go Ahead Yogurt Breaks Forest Fruits (178g)                    1
Earth Mama Angel Baby Organic Mama To Be Tea Sampler Box 16 Tea Bags    1
St. Dalfour Rhapsodie de Fruit Orange & Ginger Jam (284g)               1
Littles Chocolate Orange Flavour Infused Instant Coffee 50g             1
Nescafe Gold Blend 200 g                                                1
Sharwoods Tikka Creamy Sauce 420g                                       1
Name: name, dtype: int64

In [5]:
n_rows, n_col = productsdatabase.shape

In [6]:
products_info = list(productsdatabase['name'].values)

In [7]:
# CREATING SPLIT PRODUCT DATABASE
count_no_match = 0
count_no_breaker = 0
product_main = []
product_other = []

for i in range(len(products_info)):
    pos_bracket = 0
    pos_slash = 0
    # seems that only slash and bracket indicate weight stuff
    if "(" or "/" in products_info[i]:
        split = products_info[i].split(" ")
        for j in range(len(split)):
            if "(" in split[j]:
                pos_bracket = j
            if "/" in split[j]:
                pos_slash = j
                
        # get the index of which comes earlier: slash or bracket?
        if pos_bracket > 0 and pos_slash > 0:
            breaker = min(pos_bracket, pos_slash)
        elif pos_bracket > 0:
            breaker = pos_bracket
        elif pos_slash > 0:
            breaker = pos_slash
        else:
            breaker = 0
        
        if breaker > 0:
            string_main = ""
            string_other = ""
            
            for k in range(breaker):
                string_main += " " + split[k]
                
            for l in range(breaker, len(split)):
                string_other += " " + split[l]
            #string_main = string_main[1:] 
            #string_other = string_other[1:] 
            product_main.append(string_main)
            product_other.append(string_other)
        
        else:
            product_main.append(products_info[i])
            product_other.append("")
            #print("No breaker:" + " " + products_info[i])
            count_no_breaker += 1
    else:
        count_no_match += 1
        #print("No match:" + " " + products_info[i])

In [8]:
# SPLIT PRODUCT DATA BASE
productsdatabase['Product Main'] = product_main
productsdatabase['Product Other'] = product_other
productsdatabase = productsdatabase[['name', 'Product Main', 'Product Other', 'categoryonwebsite', 'websitename', 'Quintessential']]
#productsdatabase = productsdatabase.sort_values(by=["Product Main"])
productsdatabase.head(15)

,name,Product Main,Product Other,categoryonwebsite,websitename,Quintessential
0,R. Whites Lemonade (330ml / 11 fl oz),R. Whites Lemonade,(330ml / 11 fl oz),drinks,ukgoods,1
1,Horlicks Malted Milk Drink (500g / 17.6oz),Horlicks Malted Milk Drink,(500g / 17.6oz),drinks,ukgoods,1
2,Ben Shaws Dandelion and Burdock Classic (330ml...,Ben Shaws Dandelion and Burdock Classic,(330ml / 11.15 fl oz),drinks,ukgoods,1
3,Typhoo Tea (240 Tea Bag's),Typhoo Tea,(240 Tea Bag's),drinks,ukgoods,1
4,Old Jamaica Ginger Beer (330ml / 11fl oz),Old Jamaica Ginger Beer,(330ml / 11fl oz),drinks,ukgoods,1
5,Robinson's Lemon Barley Water (850ml / 28.7floz),Robinson's Lemon Barley Water,(850ml / 28.7floz),drinks,ukgoods,1
6,Schweppes Original Bitter Lemon (1ltr / 33.8fl...,Schweppes Original Bitter Lemon,(1ltr / 33.8fl oz),drinks,ukgoods,1
7,Typhoo Tea Bags (80 teabags) *Best Before Janu...,Typhoo Tea Bags,"(80 teabags) *Best Before January 31, 2020*",drinks,ukgoods,1
8,PG Tips Loose Black Tea (250g / 8.8 oz),PG Tips Loose Black Tea,(250g / 8.8 oz),drinks,ukgoods,1
9,Robinson's Barley Water Peach (1Ltr / 33.8 fl oz),Robinson's Barley Water Peach,(1Ltr / 33.8 fl oz),drinks,ukgoods,1
10,Lucozade Orange (330Ml / 11.6oz),Lucozade Orange,(330Ml / 11.6oz),drinks,ukgoods,1
11,Robinson's Apple & Pear Fruit & Barley (1Ltr /...,Robinson's Apple & Pear Fruit & Barley,(1Ltr / 33.8oz),drinks,ukgoods,1
12,Typhoo Extrta Strong Tea (80 Tea Bag's),Typhoo Extrta Strong Tea,(80 Tea Bag's),drinks,ukgoods,1
13,PG Tips Extra Strong Tea (80 Tea Bag's),PG Tips Extra Strong Tea,(80 Tea Bag's),drinks,ukgoods,1
14,Benshaws Classic Cream Soda (330ml / 11.16oz),Benshaws Classic Cream Soda,(330ml / 11.16oz),drinks,ukgoods,1

In [9]:
productsdatabase.loc[productsdatabase['Product Main'] == ' Typhoo Tea Bags', 'Quintessential'].values[0]

1

TEST -- NOT IMPORTANT 
test_case = products_info[3]
test_case

pos_bracket = 0
pos_slash = 0
seems that only slash and bracket indicate weight stuff
if "(" or "/" in test_case:
    split = test_case.split(" ")
    for j in range(len(split)):
        if "(" in split[j]:
            pos_bracket = j
        if "/" in split[j]:
            pos_slash = j
    split

    breaker = min(pos_bracket, pos_slash)
    breaker


    if breaker > 0:
        string_main = ""
        string_other = ""

        for k in range(breaker):
            string_main += " " + split[k]

        for l in range(breaker, len(split)):
            string_other += " " + split[l]

        product_main.append(string_main.strip())
        product_other.append(string_other.lstrip())

    else:
        product_main.append(products_info[i])
        product_other.append("")
        print("No breaker:" + " " + products_info[i])
        count_no_breaker += 1

string_main

string_other

In [10]:
maindf = pd.read_excel('data_clustered.xlsx')

In [11]:
maindf.head(10)

,Unnamed: 0,sku,name,category,first_country,britshare,category_id,_merge,twentyClusters,trimmedClusters,pred_twentyClusters,pred_trimmedClusters,pred_category,national
0,0,24,Sainsbury's Kiwi Fruit Each,"Fruit & vegetables, Fresh fruit, All fruit",UnitedKingdom,0.250000,340.0,master only (1),2.0,Fruit & vegetables,NaN,NaN,NaN,False
1,1,62,Sainsbury's Whole Cucumber,"Fruit & vegetables, Top sellers",UnitedKingdom,0.200000,347.0,matched (3),2.0,Fruit & vegetables,NaN,NaN,NaN,False
2,2,79,Sainsbury's Oranges Each,"Fruit & vegetables, Top sellers",UnitedKingdom,0.200000,347.0,master only (1),2.0,Fruit & vegetables,NaN,NaN,NaN,False
3,3,93,Sainsbury's Lemons Each,"Fruit & vegetables, Top sellers",UnitedKingdom,1.000000,347.0,master only (1),2.0,Fruit & vegetables,NaN,NaN,NaN,False
4,4,444,"Sainsbury's Lettuce, Round","Fruit & vegetables, Best in season",UnitedKingdom,1.000000,337.0,matched (3),2.0,Fruit & vegetables,NaN,NaN,NaN,False
5,5,536,Sainsbury's Baked Beans In Tomato Sauce 400g,"Food cupboard, Canned, tinned & packaged foods...",UnitedKingdom,1.000000,153.0,master only (1),13.0,Food cupboard,NaN,NaN,NaN,False
6,6,758,Sainsbury's Cauliflower Each,"Fruit & vegetables, Top sellers",UnitedKingdom,0.166667,347.0,matched (3),2.0,Fruit & vegetables,NaN,NaN,NaN,False
7,7,1007,Sainsbury's Evaporated Milk 170g,"Food cupboard, Fruit & desserts, Milk & cream",Germany,0.000000,220.0,master only (1),2.0,Food cupboard,NaN,NaN,NaN,False
8,8,1304,"Sainsbury's English Butter, Salted 250g","New & trending, Top rated",UnitedKingdom,1.000000,499.0,matched (3),2.0,New & trending,NaN,NaN,NaN,True
9,9,1373,Sainsbury's Spring Onions Bunch 100g,"Fruit & vegetables, Top sellers",UnitedKingdom,1.000000,347.0,master only (1),2.0,Fruit & vegetables,NaN,NaN,NaN,False

In [12]:
def Remove(duplicate): 
    final_list = [] 
    for num in duplicate: 
        if num not in final_list: 
            final_list.append(num) 
    return final_list

In [13]:
# filtering name of products with non-missing "Product Other"
product_main_temp = []
for i in range(len(product_other)):
    if product_other[i] != '':
        product_main_temp.append(product_main[i])
        
# Keeping only unique "Product Main" after applying the previous filter
product_main_u = Remove(product_main_temp)

In [14]:
# filtering name of products with missing "Product Other"
product_other_temp = []
for i in range(len(product_other)):
    if product_other[i] == '':
        product_other_temp.append(product_main[i])
        
# Keeping only unique "Product Main" after applying the previous filter
product_other_u = Remove(product_other_temp)

In [62]:
matched = []
Q = []
case = []
case2 = []
comment = []
multiple_check = []
product_match =[]
no_row, no_col = maindf.shape
name_list = list(maindf.name.values)


count = 0

In [ ]:
# For Each Product in Our MAIN DF, we see if we can match that with OTHER dataset.
# If yes, matched = 1, Q = 0 or 1
# If no, matched = 0, Q = -9
# if unique match or only one match, case = 0
# if multiple products match (would only happen when we are not looking for exact matches)

for i in range(no_row):
    print("Working on product {}: {}".format(i,name_list[i]))
    check_case = 0
    comments = ''
    cases = 0
    status = 0
    value = -9
    multiple_q = []
    
    # EXACT MATCH - for the case with Product Other == ""
    for product in product_other_u:
        if product.lstrip() == name_list[i]:
            status += 1
            value = productsdatabase.loc[productsdatabase['Product Main'] == product, 'Quintessential'].values[0]
            product_match.append((product,name_list[i]))
            multiple_q.append(value)
            
    # Partial Match - for the case with Product Other == ""
    if status == 0:
        for product in product_other_u:
            if product.lstrip() in name_list[i]:
                status += 1
                value = productsdatabase.loc[productsdatabase['Product Main'] == product, 'Quintessential'].values[0]
                product_match.append((product,name_list[i]))
                multiple_q.append(value)

                # error check - There were only maximum of THREE matches, that is why we have status > 2. 
                if status > 2:
                    print("Row {} product had multiple matches".format(i))
                    comments = "Third e match: {} with Q-value: {}".format(product_match[-1],multiple_q[-1]) + ";" + "Second e match: {} with Q-value: {}".format(product_match[-2],multiple_q[-2]) + ";" + "First match: {} with Q-value: {}".format(product_match[-3],multiple_q[-3])
                    print(comments)
                    cases += 1
                    print(cases)
                elif status > 1:
                    print("Row {} product had multiple matches".format(i))
                    comments = "Second e match: {} with Q-value: {}".format(product_match[-1],multiple_q[-1]) + ";" + "First e match: {} with Q-value: {}".format(product_match[-2],multiple_q[-2])
                    print(comments)
                    cases += 1
                    print(cases)

   # If can't find an exact match, look for partial match for the case with Product Other != ""
    if status == 0:
        for product in product_main_u:
            if product.lstrip() in name_list[i]:
                status += 1
                value = productsdatabase.loc[productsdatabase['Product Main'] == product, 'Quintessential'].values[0]
                product_match.append((product,name_list[i]))
                multiple_q.append(value)
                
                # error check - There were only maximum of THREE matches, that is why we have status > 2. 
                if status > 2:
                    print("Row {} product had multiple matches".format(i))
                    comments = "Third match: {} with Q-value: {}".format(product_match[-1],multiple_q[-1]) + ";" + "Second match: {} with Q-value: {}".format(product_match[-2],multiple_q[-2]) + ";" + "First match: {} with Q-value: {}".format(product_match[-3],multiple_q[-3])
                    print(comments)
                    cases += 1
                    print(cases)
                elif status > 1:
                    print("Row {} product had multiple matches".format(i))
                    comments = "Second match: {} with Q-value: {}".format(product_match[-1],multiple_q[-1]) + ";" + "First match: {} with Q-value: {}".format(product_match[-2],multiple_q[-2])
                    print(comments)
                    cases += 1
                    print(cases)
    
    if status == 0:
        products_temp = product_main_u + product_other_u
        products_u = Remove(products_temp)
        for product in products_u:
            ratio = lev.ratio(product.lstrip().lower(),name_list[i].lower())
            if ratio >= 0.9:
                status += 1
                value = productsdatabase.loc[productsdatabase['Product Main'] == product, 'Quintessential'].values[0]
                product_match.append((product,name_list[i]))
                multiple_q.append(value)   
                
                # error check - There were only maximum of THREE matches, that is why we have status > 2. 
                if status > 2:
                    print("Row {} product had multiple matches".format(i))
                    comments = "Third match: {} with Q-value: {}".format(product_match[-1],multiple_q[-1]) + ";" + "Second match: {} with Q-value: {}".format(product_match[-2],multiple_q[-2]) + ";" + "First match: {} with Q-value: {}".format(product_match[-3],multiple_q[-3])
                    print(comments)
                    cases += 1
                    print(cases)
                elif status > 1:
                    print("Row {} product had multiple matches".format(i))
                    comments = "Second match: {} with Q-value: {}".format(product_match[-1],multiple_q[-1]) + ";" + "First match: {} with Q-value: {}".format(product_match[-2],multiple_q[-2])
                    print(comments)
                    cases += 1
                    print(cases)
                    
    if len(multiple_q) > 1:
        first_q = multiple_q[0]
        for k in range(1, len(multiple_q)):
            if first_q != multiple_q[k]:
                check_case = 1
    
    # These are cases of multiple matches
    case.append(cases)  
    # These are those cases among multiple matches for which Q-value do not agree
    case2.append(check_case)
    # Appending Q-value (check for case2 == 1)
    Q.append(value)
    # Appending the status of match: 1 if there was a match, 0 otherwise
    matched.append(status)
    # Adding comments: only relevant for multiple matches
    comment.append(comments)
    #if status > 1:
        #   print("Row {} product had multiple matches".format(i))
    #if multiple_q > 1:
        #   print("Row {} product might not have correct Q".format(i))

In [58]:
maindf['match'] = matched
maindf['Q'] = Q
maindf['case'] = case
maindf['case2'] = case2
maindf['comment'] = comment

In [59]:
maindf.match.value_counts()

0    9336
1    3025
2     227
3      47
4       6
5       5
7       1
6       1
Name: match, dtype: int64

In [60]:
maindf.case2.value_counts()

0    12563
1       85
Name: case2, dtype: int64

In [61]:
maindf.to_csv(r'C:\\Users\\user\\Desktop\\Summer 2020\\Research Assistant\\Sandra\\Brexit Project 2\\step1match.csv')

In [36]:
#maindfcopy = pd.read_csv("step1match.csv")
#test = maindfcopy[maindfcopy['match']==0]